body {
	font: 24px/30px 'Comforter Brush', cursive;
	margin: 0;
	background-color: #fff;
	color: #000;
}

.wrapper {
	padding: 30px;
	margin: 0 auto;
	max-width: 700px;
	height: 750px;
	border-radius: 10px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid;
}


th,
td {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	padding: 10px;
	border: 1px solid red;
}