body {
	font: 24px/30px 'Comforter Brush', cursive;
	margin: 0;
	background-color: #fff;
	color: #000;
}

button {
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#youtube-btn {
	background-color: red;
	color: white;
}

#google-btn {
	background-color: blue;
	color: white;
}

#google-btn:hover {
	background-color: #555;
	color: white;
}

#youtube-btn:hover {
	background-color: #555;
	color: white;
}